.index-sec{
    background-image: url("../../../public/img/fond.webp");
    width: 100%;
    height: 100%;
    padding-bottom: 6rem;
}
.qest{
    font-size: var(--typographie--intro);
    text-align: center;
    margin: auto;
    display: flex;
    font-weight: 900;
    padding-top: 30px;
}
.tweet{
    background-color: var(--couleur--blanc);
    border: 4px var(--couleur--khaki) solid ;
    margin-bottom: 30px;
    margin: 20px 20px;
}
.tweet__art{
    text-align: center;
    margin: auto;
    display: flex;
    font-size:var(--typographie--tweet) ;
    padding: 28px;
    color: var(--couleur-typo---noir);
}
.tweet_sav{
    text-align: center;
    margin: auto;
    display: block;
    color: var(--couleur-typo--violet);
}
.index_pro{
    text-align: center;
    margin: auto;
    display: block;
    color: var(--couleur-typo---noir);
    padding: -10px;
}
.tweet1{
    background-color: var(--couleur--blanc);
    border: 4px var(--couleur--khaki) solid ;
    margin-bottom: 30px;
    margin: 0px 20px; 
}
/* galrie*/
.gal{
    max-width: 50%;
    display: block;
    box-shadow: var(--couleur--bleu-claire) -40PX -84px;
    margin: 130px 50px;
}
.ed{
    position: relative;
}
.text__gal {
    position: absolute;
    top: 90px;
    width: 43%;
    right: -20px;
    margin: 19px;
    background: var(--couleur---blanc-crème);
    padding: .5rem;
    text-align: center;
}
.gal1{
    max-width: 50%;
    display: block;
    box-shadow: var(--couleur--bleu-claire) 50PX -70px;
    margin: 130px 130px;
}
.text__gal1 {
    position: absolute;
    top: 90px;
    width: 43%;
    right: 180px;
    margin: 19px;
    background: var(--couleur---blanc-crème);
    padding: .5rem;
    text-align: center;
}
.up{
    top: 10px;
    right: 200px;
}
.up1{
    top:-40px
}
.up2{
    right: 200px;
}

/*fun*/
.img--click2{
    visibility: hidden;
    z-index: 1;
}
