footer{
    background-color: var(--couleur---noir);
}
.logo_footer{
    margin: 15px;
}
footer p{
    color: var(--couleur-typo--blanc);
    font-size: var(--typographie--footer);
    font-family: 'DM Sans', 'sans-serif' ;
}
footer a{
    text-decoration: none;
    color: var(--couleur-typo--blanc);
    
}
.sp_footer{
    padding-left: 5rem; 

}
.text_footer{
    margin: 15px;
    margin-bottom: 5rem;
}
.mail_footer{
    margin-left: -1px;
}
.underline{
    text-decoration: underline;
}
.text_end{
    margin-bottom: -1px;
    margin-left: 5px;
}
