.btn {
    background-color: var(--couleur-typo--violet);
    padding: 30px 61px;
    border-radius: 20px;
    font-size: var(--typographie--button);
    text-align: center;
    display: block;
    margin: 43px 68px;
    text-decoration: none;
    color: var(--couleur-typo---noir);
}
.erroe404{
    color: var(--couleur-typo---noir);
    margin: 35px;
}
.errore404__research {
    padding: 7vh;
    background-color: var(--orange);
}